# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.aider*

# ETC
repomix-output.xml
.env
.chunkhound/*
.chunkhound/db
.chunkhound.json
*.zip